@{
    ViewBag.Title = "Contact Us";
}

<div style="text-align:center">
    <h1>@ViewBag.Title</h1>
    <p>For further assistance, please contact us. We look forward to assisting you.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Write to us</h2>
        <p>
            Southern African Computer Lecturer’s Association (SACLA)<br />
            School of Computer Science and Information Systems<br />
            Private Bag X6001 <br />
            Potchefstroom 2520
        </p>
        <div style="padding-top:20px">
            <h2>Give us a call</h2>
            <p>
               Give us a call for any queries. <br />
                Trishanaa Parsard: <a href="tel:+27101010101">+27101010101</a>
            </p>
        </div>
        <div style="padding-top:50px">
            <h2>Send us an email</h2>
            <p>
                For any queries, send us an email at:<br />
                <a href="mailto:contact@sacla2021.org.za">contact@sacla2021.org.za</a>
            </p>
        </div>
        </div>
        <div class="col-md-6">
            <h2>Location</h2>
            <p>Feel free to pop in.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3564.8310151831865!2d27.092163415040133!3d-26.6858864832259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9680d98cdf272f%3A0x1acb2458a18b664f!2sNorth%20West%20University%20-%20Potchefstroom%20Campus!5e0!3m2!1sen!2sza!4v1624872745324!5m2!1sen!2sza"
                    width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>

